/JanelaPrincipal.class
/TelaAguardando.class
/TelaAtendimento.class
/TelaConsulta.class
/TelaEncaminharInternacao.class
/TelaFinalizarAtendimento.class
/TelaGerenciarPaciente.class
/TelaInicialLogo.class
/TelaLeitosVagos.class
/TelaPacientesInternados.class
